.toggle-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
}
.__chekt-toggle {
  display: inline-block;
  height: 18px;
  position: relative;
  width: 36px;
}

.__chekt-toggle input {
  display:none;
}

.__chekt-toggle-slider {
  background-color: var(--chekt-blue-gray-mideum);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  cursor: pointer;
  transition: .4s;
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, 
              rgb(0 0 0 / 0%) 0px 0px 0px 0px, 
              rgb(0 0 0 / 0%) 0px 0px 0px 0px, 
              rgb(60 66 87 / 16%) 0px 0px 0px 1px, 
              rgb(0 0 0 / 0%) 0px 0px 0px 0px, 
              rgb(0 0 0 / 0%) 0px 0px 0px 0px, 
              rgb(0 0 0 / 0%) 0px 0px 0px 0px;
}

.__chekt-toggle-slider:before {
  background-color: #fff;
  content: "";
  height: 18px;
  width: 18px;
  position: absolute;
  transition: .4s;
}

input:checked + .__chekt-toggle-slider {
  background-color: var(--chekt-primary-color);
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, 
              rgb(0 0 0 / 0%) 0px 0px 0px 0px, 
              rgb(0 0 0 / 0%) 0px 0px 0px 0px, 
              rgb(30 136 229) 0px 0px 0px 1px, 
              rgb(0 0 0 / 0%) 0px 0px 0px 0px, 
              rgb(0 0 0 / 0%) 0px 0px 0px 0px, 
              rgb(0 0 0 / 0%) 0px 0px 0px 0px;

}

input#__chekt-toggle:checked + .__chekt-toggle-slider:before {
  transform: translateX(18px);
}

.__chekt-toggle-slider.round {
  border-radius: 18px;
}

.__chekt-toggle-slider.round:before {
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, 
              rgb(0 0 0 / 0%) 0px 0px 0px 0px, 
              rgb(0 0 0 / 12%) 0px 1px 1px 0px, 
              rgb(60 66 87 / 16%) 0px 0px 0px 1px, 
              rgb(0 0 0 / 0%) 0px 0px 0px 0px, 
              rgb(0 0 0 / 0%) 0px 0px 0px 0px, 
              rgb(60 66 87 / 8%) 0px 2px 5px 0px;
}


/**************************/
/****** Toggle Large ******/
/**************************/
.__chekt-toggle.large {
  height: 20px;
  width: 40px;
}
.__chekt-toggle.large > .__chekt-toggle-slider {
  border-radius: 20px;
}
.__chekt-toggle.large > .__chekt-toggle-slider:before {
  height: 20px;
  width: 20px;
}
input#__chekt-toggle-large:checked + .__chekt-toggle-slider:before {
  transform: translateX(20px);
}

/**************************/
/****** Toggle Small ******/
/**************************/
.__chekt-toggle.small {
  height: 14px;
  width: 28px;
}
.__chekt-toggle.small > .__chekt-toggle-slider {
  border-radius: 14px;
}
.__chekt-toggle.small > .__chekt-toggle-slider:before {
  height: 14px;
  width: 14px;
}
input#__chekt-toggle-small:checked + .__chekt-toggle-slider:before {
  transform: translateX(14px);
}

/*****************************/
/****** Toggle Disabled ******/
/*****************************/
.__chekt-toggle.disabled {
  pointer-events: none;
}
.__chekt-toggle.disabled > .__chekt-toggle-slider:before {
  background-color: var(--chekt-blue-gray-mideum);
}
