/**********/
/* DIALOG */
/**********/

#__chekt-dialog {
  position: fixed;
  display: flex;
  flex-direction: column;
  box-shadow: var(--chekt-shadow);
  border-radius: 5px;
  z-index: 1;
  visibility: hidden;
  background-color: white;
  transform:scale(.8);
  opacity: 0;
  white-space: nowrap;
  padding: 5px 0px;
}

#__chekt-dialog > div {
  padding: 8px 20px 8px 10px;
  font-size: 14px;
  cursor: pointer;
  color: var(--chekt-primary-shadow-color);
}
#__chekt-dialog div.delete {
  color: var(--chekt-danger-shadow-color);
}
#__chekt-dialog div:hover {
  background-color: var(--chekt-blue-gray-lower);
  color: var(--chekt-text-high);
}
#__chekt-dialog.active {
  visibility: visible;
  transition: transform .3s cubic-bezier(0.075, 0.82, 0.165, 1) ,opacity .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform:scale(1);
  opacity: 1;
}


/*******************/
/* DIALOG CATEGORY */
/*******************/

#__chekt-category-dialog {
  position: fixed;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 1px rgb(136 152 170 / 10%), 0 15px 35px 0 rgb(49 49 93 / 10%), 0 5px 15px 0 rgb(0 0 0 / 8%);
  border-radius: 5px;
  z-index: 1;
  visibility: hidden;
  background-color: white;
  transform:scale(.8);
  opacity: 0;
  white-space: nowrap;
  padding: 5px 0px;
}
#__chekt-category-dialog.active {
  visibility: visible;
  transition: transform .3s cubic-bezier(0.075, 0.82, 0.165, 1) ,opacity .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform:scale(1);
  opacity: 1;
}

#__chekt-category-dialog .category {
  font-size: 12px;
  padding: 14px 10px 7px 10px;
  color: var(--chekt-blue-gray-higher);
  pointer-events: none;
}
#__chekt-category-dialog .line {
  border-bottom: solid 1px var(--chekt-border);
  height: 1px;
  padding: 0;
}

#__chekt-category-dialog > div {
  padding: 8px 20px 8px 10px;
  font-size: 14px;
  cursor: pointer;
  color: var(--chekt-primary-shadow-color);
}
#__chekt-category-dialog div.delete {
  color: var(--chekt-danger-shadow-color);
}
#__chekt-category-dialog div:hover {
  background-color: var(--chekt-blue-gray-lower);
  color: var(--chekt-text-high);
}



/*****************/
/* ICON CATEGORY */
/*****************/

#__chekt-icon-dialog {
  position: fixed;
  display: flex;
  flex-direction: column;
  box-shadow: var(--chekt-shadow);
  border-radius: 5px;
  z-index: 1;
  visibility: hidden;
  background-color: white;
  transform:scale(.8);
  opacity: 0;
  white-space: nowrap;
  padding: 5px 0px;
}
#__chekt-icon-dialog.active {
  visibility: visible;
  transition: transform .3s cubic-bezier(0.075, 0.82, 0.165, 1) ,opacity .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform:scale(1);
  opacity: 1;
}

#__chekt-icon-dialog .icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 5px;
}

#__chekt-icon-dialog > div {
  padding: 8px 20px 8px 10px;
  font-size: 14px;
  cursor: pointer;
  color: var(--chekt-primary-shadow-color);
}
#__chekt-icon-dialog div.delete {
  color: var(--chekt-danger-shadow-color);
}
#__chekt-icon-dialog div:hover {
  background-color: var(--chekt-blue-gray-lower);
  color: var(--chekt-text-high);
}
