.chekt-title {
  margin-top: 120px;
  font-size: 3.75rem;
}
.chekt-component {
  max-width: 840px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
}
.chekt-description {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 500;
  letter-spacing: 0.0071428571em;
  text-decoration: inherit;
  text-transform: inherit;
  color: #212121;
  margin: 16px 0 48px;
  font-weight: 400;
  line-height: 2;
}
.chekt-component-header {
  padding-top: 24px;
  padding-bottom: 32px;
  border-bottom: solid 1px #E5E5E5;
}
.chekt-component-content {
  display: block;
  margin-top: 48px;
}
.chekt-subtitle {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -.0083333333em;
  text-decoration: inherit;
  text-transform: inherit;
  color: #212121;
  margin: 0;
}
.chekt-subdescription {
  font-size: .875rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: .03125em;
  text-decoration: inherit;
  text-transform: inherit;
  color: #424242;
  letter-spacing: normal;
  margin: 14px 0;
}